body, input, select, textarea, button, pre {
	font-family: -apple-system, BlinkMacSystemFont, 
    	"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    	"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1em;
    line-height: 1.3;
    margin: 0;
    padding: 0;
}

@media screen {
	body {
		-webkit-font-smoothing: antialiased !important;
		text-rendering: optimizeLegibility !important;
	}

	#fullpage {
		position: relative;
		height: 100%;
		width: 100%;

	    /* Touch detection for Windows 8 */
	    -ms-touch-action: none;
	    /* IE 11 on Windows Phone 8.1*/
	    touch-action: none;
	}
	main {
		color: white;
		text-align: center;
		padding: 0 1.5%;
		background: #311B92 center scroll;
		background-image: -ms-linear-gradient(top left, #2196F3 0%, #311B92 100%);
		background-image: -moz-linear-gradient(top left, #2196F3 0%, #311B92 100%);
		background-image: -o-linear-gradient(top left, #2196F3 0%, #311B92 100%);
		background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #2196F3), color-stop(1, #311B92));
		background-image: -webkit-linear-gradient(top left, #2196F3 0%, #311B92 100%);
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;	
	}
}

@media print, screen and (min-width: 36em) {
	header {
		position: fixed;
		right: 0;
		left: 0;
		z-index: 9;
		height: 100%;
		width: 15em;
		margin: 0;
	}
	main {
		margin-left: 15em;
	    background-image: url('../img/tenby.jpg');
	    text-shadow: 0 0 0.7rem black, 0 0 0.2rem black;
	}
}

.closed {
	display: none;
}

.logo {
    margin: 1em 1.25em 0.5em 1em;
    font-size: 1.33em;
}
.strapline {
	margin: 0.5em 0.2em 1em 0;
	font-size: 0.9em;
}
.logo, .strapline {
    color: #0e2220;
	letter-spacing: -0.04em;
    text-align: center;
}

pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	padding: 1em;
}

input, select, textarea, form button, label {
 	width: 100%;
}

input, select, textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 5px;
	vertical-align: middle;
	padding: 0.1em;
	border: 1px #D2D6DF solid;
	font-size: 100%;
	height: 1.8em;
	background: white;
}

fieldset {
	border: 0;
}

button, button a {
	text-decoration: inherit;
	color: white;
	opacity: 1;
	text-align: center;
	font-size: 1rem;
	letter-spacing: 0.8px;
	-webkit-transition: all 650ms ease;
	-moz-transition: all 650ms ease;
	-o-transition: all 650ms ease;
	-ms-transition: all 650ms ease;
	transition: all 650ms ease;
	cursor: pointer;
	display: inline-block;
	height: 2.57rem;
	margin-bottom: 1rem;
	padding: 0 1.5rem;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-clip: padding-box;
	line-height: 2.57rem;
	border: none;
	background-color: #2980b9;
}

button.cta {
	background-color: #a61a23;
}

a {
	text-decoration: inherit;
	color: inherit;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.col-2, .col-5 {
	float: left;
	position: relative;
	min-height: 1px;
}

.col-2 {
	width: 16.66666667%;
}

.col-5 {
	width: 41.66666667%;
}

#map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
}

.title, .price {
	font-weight: 300;
	letter-spacing: -0.13rem;
	font-size: 2.8rem;
	margin: 0.33em 0;
	line-height: 1.05;
}
.title {
	height: 6rem;
}


h2, h3, h6 {
	padding: 1.72rem 0;
	margin: 0;
}
h2 {
	opacity: 0.8;
	font-weight: 300;
	letter-spacing: -0.13rem;
	font-size: 2.8rem;
	line-height: 1.05;
}
h3 {
	opacity: 0.87;
	font-weight: 300;
	letter-spacing: -0.13rem;
	font-size: 3.21rem;
	line-height: 1.07;
}
h6 {
	opacity: 1;
	font-weight: 300;
	letter-spacing: 0.02rem;
	font-size: 1.33rem;
	line-height: 1.5;
}

.gallery {
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
}
.gallery li {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0.8rem;
	width: 18rem;
	height: 18rem;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	text-align: center;
	color: white;
    text-shadow: 0 0 0.7em black, 0 0 0.2em black;
	font-size: 120%;
}

.social_icons, .social_icons li {
	display: inline-block;
	list-style: none;
	padding: 0;
}
.social_icons li {
	margin: 0 0.72rem;
	float: left;
}
.social_icons li:first-child {
	margin-left: 0;
}
.social_icons li:last-child {
	margin-right: 0;
}
.social_icons a {
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.social_icons a:hover {
    cursor: pointer;
    opacity: 1;
}
